[submodule "modules/qtbase"]
	path = modules/qtbase
	url = https://code.qt.io/qt/qtbase.git
[submodule "modules/jsoncpp"]
	path = modules/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "modules/eigen3"]
	path = modules/eigen3
	url = https://gitlab.com/libeigen/eigen.git
